@model IEnumerable<LRPManagement.Models.CharacterSkill>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skill.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Skills", new { id = item.SkillId }) |
                @Html.ActionLink("Delete", "Delete", "Bonds", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>