@model IEnumerable<LRPManagement.Models.Bond>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Craftables", new {id = item.ItemId}) |
                @Html.ActionLink("Delete", "Delete", "Bonds", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>